@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body { background: #d6ca96 }
body { font-family: 'Cairo', sans-serif; }
h1 { font-family: 'Squada One', sans-serif; margin-top: 0; padding-top: 10px; }
h2, h3 { font-family: 'Oswald', sans-serif; margin:0;}

