<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rogo Dev App</title>
<script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />
</head>
<body>

<h1>hello firebase</h1>

<button style="display:none" id="sign-out">Sign Out</button>

{% if pre %}
<form id="successForm" method="post" action="/auth/success"
  style="display:none">
  <br/>
  <label for="preToken">preToken:</label>
  <input type="text" name="preToken" value="{{ pre }}">
  <br/>
  <label for="accessToken">accessToken:</label>
  <input type="text" name="accessToken">
  <br/>
  <input type="submit" value="submit">
</form>
{% endif %}

<div id="login-buttons" style="display:none">
  <button onclick="attemptLogin('google')">Login with Google</button>
  <!-- <button onclick="attemptLogin('github')">Login with Github</button> -->
</div>

<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
  import {
    getAuth,
    signInWithRedirect,
    signOut,
    GithubAuthProvider,
    GoogleAuthProvider,
    getRedirectResult
  } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-auth.js"

  const firebaseConfig = {
    apiKey: "AIzaSyB186Sn82G_z-u38HWQq5-PuMvTIDa4SX8",
    authDomain: "rogo-dev-4e99f.firebaseapp.com",
    projectId: "rogo-dev-4e99f",
    storageBucket: "rogo-dev-4e99f.appspot.com",
    messagingSenderId: "212137834895",
    appId: "1:212137834895:web:bcfcad4e186caef72273fa"};

  async function attemptLogin(how) {
    let provider = null;
    switch(how) {
      // TODO: case 'github': provider = new GithubAuthProvider(); break;
      case 'google': provider = new GoogleAuthProvider(); break;
      default: console.log('no provider specified'); return; }
    await signInWithRedirect(auth, provider);
    await getRedirectResult(auth);
    if (auth.currentUser) { onLoginSuccess() }
    else { alert('login failed')}}

  function show(eid) {
    document.getElementById(eid).style.display ='block' }

  function onLoginSuccess() {
  {% if pre != '??' %}
    const successForm = document.getElementById('successForm')
    successForm.accessToken.value = auth.currentUser.accessToken
    successForm.submit()
  {% endif %} }

  // --- main code ----------------------------------------

  const app = initializeApp(firebaseConfig);

  document.getElementById('sign-out').addEventListener('click', () => {
    signOut(auth)
      .then(() => {
        console.log('signed out')
        document.location.reload() })
      .catch((error) => { console.error(error)}) })

  const auth = getAuth();
  await auth.authStateReady();

  {% if pre %}
    {% if pre == '??' %}
      document.body.innerHTML = `
        <h1>error</h1>
        <p>You should only visit this page by running <code>rogo login</code></p>
        <p>To log in directly, go to <a href="/login">/login</a></p>`
    {% else %}
      if (auth.currentUser) { onLoginSuccess() }
      else { show('login-buttons') }
    {% endif %}
  {% else %}{#  main login page logic #}
    let eid = auth.currentUser ? 'sign-out' : 'login-buttons';
    show(eid)
  {% endif %}

  window.attemptLogin = attemptLogin;
</script>
</body>
</html>