<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tanco Dev App</title>
</head>
<body>

<h1>hello <span id="username"></span></h1>

<button style="display:none" id="sign-out">Sign Out</button>

{% if pre %}
<form id="successForm" method="post" action="/auth/success"
  style="display:none">
  <br/>
  <label for="preToken">preToken:</label>
  <input type="text" name="preToken" value="{{ pre }}">
  <br/>
  <label for="accessToken">accessToken:</label>
  <input type="text" name="accessToken">
  <br/>
  <input type="submit" value="submit">
</form>
{% endif %}

<div id="login-buttons" style="display:none">
  <button onclick="loginWith('google')">Login with Google</button>
  <!-- <button onclick="attemptLogin('github')">Login with Github</button> -->
</div>

<script type="module">
  import {
    signOut,
    currentUser,
    attemptLogin} from "/static/login.mjs";

  function show(eid) {
    document.getElementById(eid).style.display ='block' }


  {% if pre != '??' %}
  function onLoginSuccess() {
    const successForm = document.getElementById('successForm')
    successForm.accessToken.value = currentUser().accessToken
    successForm.submit() }
  {% else %}
  function onLoginSuccess() {}
  {% endif %}



  // --- main code ----------------------------------------


  document.getElementById('sign-out').addEventListener('click', () => {
    signOut()
      .then(() => {
        console.log('signed out')
        document.location.reload() })
      .catch((error) => { console.error(error)}) })



  {% if pre %}
    {% if pre == '??' %}
      document.body.innerHTML = `
        <h1>error</h1>
        <p>You should only visit this page by running <code>tanco login</code></p>
        <p>To log in directly, go to <a href="/login">/login</a></p>`
    {% else %}
      if (currentUser()) { onLoginSuccess() }
      else { show('login-buttons') }
    {% endif %}
  {% else %}{#  main login page logic #}
    let eid = currentUser() ? 'sign-out' : 'login-buttons';
    show(eid)
  {% endif %}

  window.loginWith = async function (how) {
    return await attemptLogin(how, onLoginSuccess) };

  window.currentUser = currentUser;

  let u = currentUser();
  if (u) { document.getElementById('username').innerText = u.displayName; }


</script>
</body>
</html>