<span id="attempt-state" class="state">
  <h3 style="display: inline-block">state:</h3> {{ data.state.name.lower() }}{% if data.focus %}
  <a hx-target="#test-detail"
     href="/a/{{ data.code }}/t/{{ data.focus }}">{{ data.focus }}</a>
{% endif %}
   <span class="has-tooltip">
     (?)
     <div class="tooltip">
       The state tells you what to do next:
       <dl>
         <dt>start</dt>
         <dd>Run <code>tanco next</code></dd>
         <dt>build [test name]</dt>
         <dd>New feature. Build the feature and run <code>tanco test</code>.</dd>
         <dt>change</dt>
         <dd>All tests have passed. Either make improvements and run <code>tanco test</code>.
         Or run <code>tanco next</code> to return to proceed.</dd>
         <dt>fix [test name]</dt>
         <dd>Regression. Fix the test and run <code>tanco test</code></dd>
         <dt>done</dt>
         <dd>Nothing more to do. You've completed the challenge!</dd>
       </dl>
     </div>
   </span>
  <button disabled class="has-tooltip">test
    <span class="tooltip">
      Run <code>tanco test</code> to run known tests.<br/>
      Requires <code>tanco share</code>.
    </span></button>
  <button disabled class="has-tooltip">next
    <span class="tooltip">
      Run <code>tanco next</code> to move on to the next test.<br/>
      Requires that all known tests are passing.<br/>
      Requires <code>tanco share</code>.
    </span></button>
  <button disabled class="has-tooltip">back
    <span class="tooltip">
      Run <code>tanco back</code> on the client to temporarily forget the latest test.<br/>
      Requires <code>tanco share</code>.
    </span></button>
  <button class="has-tooltip">shell
    <span class="tooltip">
      Run <code>tanco back</code> on the client to temporarily forget the latest test.<br/>
      Requires <code>tanco share</code>.
    </span></button>
</span>
